<div class="row mt-4">
  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Dashboard</h3>

    {{#each posts as |posts|}}
    <div class="row mb-2">
      <div class="card">
      <div class="col-md-8">
        <h4 class="card-header"><a href="/post/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div class="col-md-4 card-body">
        <p class="card-text">
          {{post.content}}
        </p>
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <a href="/views/createpost.handlebars" class="btn btn-primary" type="button">Create New Post</button>
</div>

<script src="../public/js/dashboard.js"></script>
